<!--The content below is only a placeholder and can be replaced.-->
<div class="spinner-msg" *ngIf="loading">
  Retrieving pitching data...
  <md-spinner></md-spinner>
</div>
<md-toolbar color="primary" *ngIf="!loading">
  <span>MLB Pitching Stats</span>
  <span class="example-spacer"></span>
</md-toolbar>
<div id="exampleContainer" class="example-container example-container-fixed mat-elevation-z8">
  <md-table #table [dataSource]="dataSource" mdSort>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Rank Column -->
    <ng-container cdkColumnDef="id">
      <md-header-cell *cdkHeaderCellDef>
        Rank <span *ngIf="gamesToday || live" class="live-case">( </span><span class="live-case" *ngIf="dailyStats != undefined || live">live stats </span>
        <div class="live-dot" *ngIf="dailyStats != undefined || live"></div>
        <span *ngIf="gamesToday || live" class="live-case">starting </span>
        <div class="live-dot-orange" *ngIf="gamesToday || live"></div> <span *ngIf="gamesToday || live" class="live-case">)</span>
      </md-header-cell>
      <md-cell *cdkCellDef="let i=index; let data;">
        <div fxHide [fxHide.gt-xs]="isVisibleOnDesktop()">
          <b>{{i+1}}. </b>{{ data.player.FirstName + ' ' + data.player.LastName + ' - ' + data.team.Abbreviation}}
          <div *ngIf="data.player.playingToday" class="live-dot"></div>&nbsp;
          <div *ngIf="data.player.startingToday" class="live-dot-orange"></div>
        </div>
        <div fxHide [fxHide.xs]="isVisibleOnMobile()">
          <b>{{i+1}}. </b>{{ data.player.FirstName | slice:0:1 }}. {{ data.player.LastName }}
          <div *ngIf="data.player.playingToday" class="live-dot"></div>&nbsp;
          <div *ngIf="data.player.startingToday" class="live-dot-orange"></div>
        </div>
      </md-cell>
    </ng-container>
    <!-- Pitches Column -->
    <ng-container cdkColumnDef="pitches">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Pitch Count </md-header-cell>
      <md-cell *cdkCellDef="let data">{{data.stats.PitchesThrown['#text']}} </md-cell>
    </ng-container>
    <!-- StrikeOuts Column -->
    <ng-container cdkColumnDef="strikeouts">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Strike Outs </md-header-cell>
      <md-cell *cdkCellDef="let data">{{data.stats.PitcherStrikeouts['#text']}} </md-cell>
    </ng-container>
    <!-- PitcherWalks Column -->
    <ng-container cdkColumnDef="pitcherWalks">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Pitcher Walks </md-header-cell>
      <md-cell *cdkCellDef="let data">
        {{data.stats.PitcherWalks['#text']}}
      </md-cell>
    </ng-container>
    <!-- InningsPitched Column -->
    <ng-container cdkColumnDef="inningsPitched">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Innings Pitched </md-header-cell>
      <md-cell *cdkCellDef="let data">{{data.stats.InningsPitched['#text']}}</md-cell>
    </ng-container>
    <!-- pitchesPerInning Column -->
    <ng-container cdkColumnDef="pitchesPerInning">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Pitches Per Inning </md-header-cell>
      <md-cell *cdkCellDef="let data">
        {{data.stats.PitchesPerInning['#text']}}
      </md-cell>
    </ng-container>
    <!-- BattersHit Column -->
    <!-- <ng-container cdkColumnDef="battersHit">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Batters Hit </md-header-cell>
      <md-cell *cdkCellDef="let data">{{data.stats.BattersHit['#text']}}</md-cell>
    </ng-container> -->
    <!-- PitcherWildPitches Column -->
    <ng-container cdkColumnDef="pitcherWildPitches">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Wild Pitches </md-header-cell>
      <md-cell *cdkCellDef="let data">{{data.stats.PitcherWildPitches['#text']}}</md-cell>
    </ng-container>
    <!-- PickoffAttempts Column -->
    <ng-container cdkColumnDef="pickoffAttempts">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Pickoff Attempts </md-header-cell>
      <md-cell *cdkCellDef="let data">
        {{data.stats.PickoffAttempts['#text']}}
      </md-cell>
    </ng-container>
    <md-header-row *cdkHeaderRowDef="displayedColumns" [ngClass]="loading ? 'loading' : 'notLoading'" class="mat-header-row-res"></md-header-row>
    <md-row [ngClass]="{'active': isActive(data), 'margin': i === 0}" (click)="open($event, data)" *cdkRowDef="let data; columns: displayedColumns; let i=index;"></md-row>
  </md-table>
</div>
<!-- {{ data.player.FirstName | slice:0:1 }}  -->
