/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    padding: 1em 0em;
    background:lightgray;
    font-family: Roboto, Arial, sans-serif;
}

my-dialog img {
  width: 50%;
  display: inline-block;
  /*border-radius: 10%;*/
  /*border: #3F51B5 solid 2px;*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 5px 5px 0 5px;
}

my-dialog .fav-pitch {
  background: #d35400;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 15px;
}

.mat-dialog-container {
  width: 600px;
}

my-dialog p {
  font-family: Monospace;
  line-height: 1.4em
}

my-dialog .more-stats-btn {
  margin-bottom: 8px;
}

@media only screen and (max-width: 700px) {

    my-dialog p {
      line-height: 1.4em;
      font-size: 8.5px;
    }

    my-dialog h1, my-dialog h2 {
      font-size: 15px;
    }

    my-dialog h1 {
      margin-top: 0;
    }

    .mat-dialog-container {
      width: auto;
      padding-top: 0;
      margin: 0 auto;
    }

    md-dialog-container {
      padding-top: 4px;
    }

    #cdk-overlay-2 {
      width: auto!important;
    }

    .mat-grid-tile .mat-figure { 
      height: 65%;
    }

   .dialog-head {
      height: 175px!important;
    }
}

